
@import url('//fonts.googleapis.com/css2?family=Estonia&display=swap');

/* selection all font!! */
*{
    font-family: 'Estonia', cursive;
    font-size: 40px;
    text-align: center;
    background-color:#F7574D;
    color:black;
}


p{
 font-weight: bold;   
}

.voltas{
    font-size: 288px;
    font-weight: bold;
}

button{
    font-weight: bold;
    padding: 22px;
    margin: 8px;
}

.big{
  padding-left: 40px;
}

.morebig{
padding-left: 40px;
}